In [180]:
import pandas as pd
from scipy import stats
import numpy as np

# Define the paths to the train and test datasets
train_file_path = 'C:/Users/Timur/Desktop/Practice IT Bank Vostok/ML_Dataset/Train.csv'
test_file_path = 'C:/Users/Timur/Desktop/Practice IT Bank Vostok/ML_Dataset/Test.csv'

# Read the train and test datasets
train_data = pd.read_csv(train_file_path)
test_data = pd.read_csv(test_file_path)

# Specify the columns we want to remove
columns_to_remove = ['column_1', 'column_2', 'column_3', 'column_4']  

# Drop the columns
train_data.drop(columns_to_remove, axis=1, inplace=True)

# Display the first few rows of the train dataset
print("First few rows of the train dataset:")
print(train_data.head())

# Display the first few rows of the test dataset
print("\nFirst few rows of the test dataset:")
print(test_data.head())

First few rows of the train dataset:
   id  column_5   column_6   column_7  column_8  column_9  column_10  \
0   0         2  1007.9608  3960.0965    3.6600    7.3174   394.4033
1   1         3   520.6264  1717.0405    0.0000    8.0772    79.7667
2   2         1     0.0000  1425.7998    0.0000    7.1665   152.6967
3   3         0     0.0000   291.0967    0.0000    4.1596    47.9833
4   4         1     0.0000  2530.3404    3.9933    3.7377    87.7833

   column_11  column_12  column_13  ...  column_361  column_362  column_363  \
0     0.6667     0.8580    16.4128  ...      0.0068   7078.3939      38.285
1     2.6667     0.0000     6.1967  ...      0.0000   5566.8946       0.000
2     0.0000     0.0000     0.0000  ...      0.0000   3821.4173       0.000
3     5.3333     0.0000     0.0000  ...      0.0000   1254.8651       0.000
4     0.0000     1.2882    10.3333  ...     -0.0032   3581.9975     -12.345

   column_364  column_365  column_366  column_367  column_368  column_369  \
0        20.0         0.0          27           1           0           0
1        34.0         1.0          31           1           0           0
2        30.0         0.0          56           1           0           0
3        14.0         0.0          31           0           0           0
4         2.0         0.0          55           0           0           1

   column_370
0           0
1           0
2           0
3           0
4           0

[5 rows x 367 columns]

First few rows of the test dataset:
   id  column_6   column_7  column_8  column_9  column_10  column_11  \
0   0  317.6870  1419.7523    0.0000    7.3778    20.8500        0.0
1   1    0.0000  1147.3111    0.0000    6.4608    53.7567        0.0
2   2   45.3894  1331.8722    7.1933    2.1552    85.8633        0.0
3   3    0.0000   743.1287    0.0000    6.9048     8.6600        5.0
4   4    0.0000   261.8643    0.0000    3.1889     0.0000        0.0

   column_12  column_13  column_14  ...  column_361  column_362  column_363  \
0     0.6667     9.0517    15.2300  ...      0.0000   3961.7543        0.00
1     1.0000     9.7730    24.3267  ...      0.0000   1991.3987        0.00
2     0.3333    13.0650    31.0000  ...      0.0122   2666.0984       75.19
3     0.0000     5.4300    83.9767  ...      0.0000   2398.4816        0.00
4     0.3333     0.0000     0.0000  ...      0.0000   1338.8069        0.00

   column_364  column_365  column_366  column_367  column_368  column_369  \
0        24.0         1.0          23           1           0           0
1        17.0         0.0          38           0           0           0
2         2.0         0.0          46           0           1           0
3        29.0         1.0          53           0           1           0
4         2.0         0.0          43           0           0           1

   column_370
0           0
1           1
2           0
3           0
4           0

[5 rows x 366 columns]

In [181]:
# Getting datasets info
print(train_data.info())
print()
print(test_data.info())

# Checking for Missing Values
print()
print(train_data.isnull().sum())
print()
print(test_data.isnull().sum())

# Checking for Duplicates
print()
print(train_data.duplicated().sum())
print()
print(test_data.duplicated().sum())

# Check if there is any missing value in the DataFrame
print()
print(train_data.isna().any())
print()
print(test_data.isna().any())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30111 entries, 0 to 30110
Columns: 367 entries, id to column_370
dtypes: float64(360), int64(7)
memory usage: 84.3 MB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3346 entries, 0 to 3345
Columns: 366 entries, id to column_370
dtypes: float64(360), int64(6)
memory usage: 9.3 MB
None

id             0
column_5       0
column_6      12
column_7      12
column_8      12
              ..
column_366     0
column_367     0
column_368     0
column_369     0
column_370     0
Length: 367, dtype: int64

id            0
column_6      1
column_7      1
column_8      1
column_9      1
             ..
column_366    0
column_367    0
column_368    0
column_369    0
column_370    0
Length: 366, dtype: int64

0

0

id            False
column_5      False
column_6       True
column_7       True
column_8       True
              ...
column_366    False
column_367    False
column_368    False
column_369    False
column_370    False
Length: 367, dtype: bool

id            False
column_6       True
column_7       True
column_8       True
column_9       True
              ...
column_366    False
column_367    False
column_368    False
column_369    False
column_370    False
Length: 366, dtype: bool

In [182]:
# Remove rows where at least one element is missing.
train_data_cleaned = train_data.dropna()
test_data_cleaned = test_data.dropna()

print("\nTrain DataFrame After Dropping Rows with Missing Values:")
print(train_data_cleaned)

print("\nTest DataFrame After Dropping Rows with Missing Values:")
print(test_data_cleaned)

Train DataFrame After Dropping Rows with Missing Values:
          id  column_5   column_6   column_7  column_8  column_9  column_10  \
0          0         2  1007.9608  3960.0965    3.6600    7.3174   394.4033
1          1         3   520.6264  1717.0405    0.0000    8.0772    79.7667
2          2         1     0.0000  1425.7998    0.0000    7.1665   152.6967
4          4         1     0.0000  2530.3404    3.9933    3.7377    87.7833
5          5         1   420.3088  1718.5033    0.0000    7.4080   119.9267
...      ...       ...        ...        ...       ...       ...        ...
30096  30096         2     0.0000   763.1098   11.3100    1.4602     0.0000
30097  30097         0     0.0000  1360.5938    5.3811    3.8828     0.0000
30099  30099         2   855.9360  2674.8847    3.9967    6.1638    17.2833
30102  30102         0    98.7328  1683.5031    3.1633    5.7616    38.9700
30105  30105         0   203.7359  1429.4414    0.0000    3.6123    60.4167

       column_11  column_12  column_13  ...  column_361  column_362  \
0         0.6667     0.8580    16.4128  ...      0.0068   7078.3939
1         2.6667     0.0000     6.1967  ...      0.0000   5566.8946
2         0.0000     0.0000     0.0000  ...      0.0000   3821.4173
4         0.0000     1.2882    10.3333  ...     -0.0032   3581.9975
5         0.6667     0.0000     8.7600  ...      0.0492   4430.5256
...          ...        ...        ...  ...         ...         ...
30096     0.0000     0.0000     0.0000  ...      0.0000    639.9808
30097     1.0000     0.9051    11.3098  ...      0.0000   1913.5729
30099     4.3333     0.3333    17.0894  ...      0.0000   7986.7101
30102     0.6667     0.5913    14.7642  ...      0.0065   4608.9101
30105     0.0000     1.0000     6.1633  ...      0.0000   2422.1986

       column_363  column_364  column_365  column_366  column_367  column_368  \
0          38.285        20.0         0.0          27           1           0
1           0.000        34.0         1.0          31           1           0
2           0.000        30.0         0.0          56           1           0
4         -12.345         2.0         0.0          55           0           0
5         218.000        12.0         1.0          49           1           0
...           ...         ...         ...         ...         ...         ...
30096       0.000         1.0         1.0          34           0           0
30097       0.000         7.0         0.0          39           0           1
30099       0.000        40.0         1.0          22           0           0
30102      29.990        26.0         0.0          40           0           0
30105       0.000        14.0         0.0          41           0           0

       column_369  column_370
0               0           0
1               0           0
2               0           0
4               1           0
5               0           0
...           ...         ...
30096           0           1
30097           0           0
30099           1           0
30102           0           1
30105           0           1

[11213 rows x 367 columns]

Test DataFrame After Dropping Rows with Missing Values:
        id  column_6   column_7  column_8  column_9  column_10  column_11  \
0        0  317.6870  1419.7523    0.0000    7.3778    20.8500     0.0000
1        1    0.0000  1147.3111    0.0000    6.4608    53.7567     0.0000
2        2   45.3894  1331.8722    7.1933    2.1552    85.8633     0.0000
9        9   75.3992  2642.5289    9.7600    5.6675    94.3333     0.0000
12      12  548.9157  2062.7944    0.0000    3.6440    16.2000     0.6667
...    ...       ...        ...       ...       ...        ...        ...
3333  3333    0.0000  1312.0177    4.1300    2.7390    54.4867     1.6667
3334  3334  307.9199  1078.4117    0.0000    3.0185     3.1667     5.0000
3341  3341   14.2600   986.4259   13.1267    4.6392    61.5700     1.0000
3342  3342   28.8633  1193.0646    6.4122    5.7798    25.9800     4.6667
3344  3344    0.0000  3544.7500    5.6267    3.8065   155.2600     0.0000

      column_12  column_13  column_14  ...  column_361  column_362  \
0        0.6667     9.0517    15.2300  ...      0.0000   3961.7543
1        1.0000     9.7730    24.3267  ...      0.0000   1991.3987
2        0.3333    13.0650    31.0000  ...      0.0122   2666.0984
9        0.6667     6.2300    49.3200  ...      0.0000   3646.9863
12       0.6489    10.4267    12.5000  ...     -0.0294   4584.7959
...         ...        ...        ...  ...         ...         ...
3333     0.6752     8.8267    54.2833  ...     -0.0039   2317.0378
3334     0.3405    10.0711    77.5133  ...      0.0195   2690.6536
3341     0.3333     0.0000    38.6567  ...      0.0000   1667.3327
3342     1.9901    13.7378    41.1433  ...     -0.0173   2075.3263
3344     0.9195     6.9600   159.9600  ...      0.0035   7876.9491

      column_363  column_364  column_365  column_366  column_367  column_368  \
0          0.000        24.0         1.0          23           1           0
1          0.000        17.0         0.0          38           0           0
2         75.190         2.0         0.0          46           0           1
9          0.000         9.0         1.0          25           0           0
12       -85.840         8.0         0.0          48           0           1
...          ...         ...         ...         ...         ...         ...
3333     -11.845         4.0         0.0          44           0           0
3334      52.580         5.0         0.0          40           1           0
3341       0.000        15.0         0.0          25           1           0
3342     -25.940        17.0         0.0          43           0           0
3344      27.490        24.0         0.0          60           1           0

      column_369  column_370
0              0           0
1              0           1
2              0           0
9              0           1
12             0           0
...          ...         ...
3333           0           0
3334           0           0
3341           0           0
3342           0           1
3344           0           0

[1259 rows x 366 columns]

In [183]:
# Getting datasets info
print(train_data_cleaned.info())
print()
print(test_data_cleaned.info())

# Checking for Missing Values
print()
print(train_data_cleaned.isnull().sum())
print()
print(test_data_cleaned.isnull().sum())

# Checking for Duplicates
print()
print(train_data_cleaned.duplicated().sum())
print()
print(test_data_cleaned.duplicated().sum())

# Check if there is any missing value in the DataFrame
print()
print(train_data_cleaned.isna().any())
print()
print(test_data_cleaned.isna().any())

<class 'pandas.core.frame.DataFrame'>
Index: 11213 entries, 0 to 30105
Columns: 367 entries, id to column_370
dtypes: float64(360), int64(7)
memory usage: 31.5 MB
None

<class 'pandas.core.frame.DataFrame'>
Index: 1259 entries, 0 to 3344
Columns: 366 entries, id to column_370
dtypes: float64(360), int64(6)
memory usage: 3.5 MB
None

id            0
column_5      0
column_6      0
column_7      0
column_8      0
             ..
column_366    0
column_367    0
column_368    0
column_369    0
column_370    0
Length: 367, dtype: int64

id            0
column_6      0
column_7      0
column_8      0
column_9      0
             ..
column_366    0
column_367    0
column_368    0
column_369    0
column_370    0
Length: 366, dtype: int64

0

0

id            False
column_5      False
column_6      False
column_7      False
column_8      False
              ...
column_366    False
column_367    False
column_368    False
column_369    False
column_370    False
Length: 367, dtype: bool

id            False
column_6      False
column_7      False
column_8      False
column_9      False
              ...
column_366    False
column_367    False
column_368    False
column_369    False
column_370    False
Length: 366, dtype: bool

In [184]:
# Calculate the mean of the columns (you can also use median or mode)
train_mean_values = train_data.mean()
test_mean_values = test_data.mean()

print(train_mean_values)

# Perform the imputation
train_data_imputed_mean = train_data.fillna(train_mean_values)
test_data_imputed_mean = test_data.fillna(test_mean_values)

id            15055.000000
column_5          0.875062
column_6        187.903114
column_7       1370.828448
column_8          3.601491
                  ...
column_366       37.788117
column_367        0.311946
column_368        0.247351
column_369        0.045864
column_370        0.332769
Length: 367, dtype: float64

In [185]:
# Getting datasets info
print(train_data_imputed_mean.info())
print()
print(test_data_imputed_mean.info())

# Checking for Missing Values
print()
print(train_data_imputed_mean.isnull().sum())
print()
print(test_data_imputed_mean.isnull().sum())

# Checking for Duplicates
print()
print(train_data_imputed_mean.duplicated().sum())
print()
print(test_data_imputed_mean.duplicated().sum())

# Check if there is any missing value in the DataFrame
print()
print(train_data_imputed_mean.isna().any())
print()
print(test_data_imputed_mean.isna().any())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30111 entries, 0 to 30110
Columns: 367 entries, id to column_370
dtypes: float64(360), int64(7)
memory usage: 84.3 MB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3346 entries, 0 to 3345
Columns: 366 entries, id to column_370
dtypes: float64(360), int64(6)
memory usage: 9.3 MB
None

id            0
column_5      0
column_6      0
column_7      0
column_8      0
             ..
column_366    0
column_367    0
column_368    0
column_369    0
column_370    0
Length: 367, dtype: int64

id            0
column_6      0
column_7      0
column_8      0
column_9      0
             ..
column_366    0
column_367    0
column_368    0
column_369    0
column_370    0
Length: 366, dtype: int64

0

0

id            False
column_5      False
column_6      False
column_7      False
column_8      False
              ...
column_366    False
column_367    False
column_368    False
column_369    False
column_370    False
Length: 367, dtype: bool

id            False
column_6      False
column_7      False
column_8      False
column_9      False
              ...
column_366    False
column_367    False
column_368    False
column_369    False
column_370    False
Length: 366, dtype: bool

In [186]:
# Calculate the median of the columns 
train_median_values = train_data.median()
test_median_values = test_data.median()

print(train_median_values)

# Perform the imputation
train_data_imputed_median = train_data.fillna(train_median_values)
test_data_imputed_median = test_data.fillna(test_median_values)

id            15055.0000
column_5          1.0000
column_6         34.9600
column_7       1092.7458
column_8          1.6633
                 ...
column_366       37.0000
column_367        0.0000
column_368        0.0000
column_369        0.0000
column_370        0.0000
Length: 367, dtype: float64

In [187]:
# Getting datasets info
print(train_data_imputed_median.info())
print()
print(test_data_imputed_median.info())

# Checking for Missing Values
print()
print(train_data_imputed_median.isnull().sum())
print()
print(test_data_imputed_median.isnull().sum())

# Checking for Duplicates
print()
print(train_data_imputed_median.duplicated().sum())
print()
print(test_data_imputed_median.duplicated().sum())

# Check if there is any missing value in the DataFrame
print()
print(train_data_imputed_median.isna().any())
print()
print(test_data_imputed_median.isna().any())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30111 entries, 0 to 30110
Columns: 367 entries, id to column_370
dtypes: float64(360), int64(7)
memory usage: 84.3 MB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3346 entries, 0 to 3345
Columns: 366 entries, id to column_370
dtypes: float64(360), int64(6)
memory usage: 9.3 MB
None

id            0
column_5      0
column_6      0
column_7      0
column_8      0
             ..
column_366    0
column_367    0
column_368    0
column_369    0
column_370    0
Length: 367, dtype: int64

id            0
column_6      0
column_7      0
column_8      0
column_9      0
             ..
column_366    0
column_367    0
column_368    0
column_369    0
column_370    0
Length: 366, dtype: int64

0

0

id            False
column_5      False
column_6      False
column_7      False
column_8      False
              ...
column_366    False
column_367    False
column_368    False
column_369    False
column_370    False
Length: 367, dtype: bool

id            False
column_6      False
column_7      False
column_8      False
column_9      False
              ...
column_366    False
column_367    False
column_368    False
column_369    False
column_370    False
Length: 366, dtype: bool

In [188]:
# Perform the imputation with zero
train_data_imputed_zero = train_data.fillna(0)
test_data_imputed_zero = test_data.fillna(0)

In [189]:
# Getting datasets info
print(train_data_imputed_zero.info())
print()
print(test_data_imputed_zero.info())

# Checking for Missing Values
print()
print(train_data_imputed_zero.isnull().sum())
print()
print(test_data_imputed_zero.isnull().sum())

# Checking for Duplicates
print()
print(train_data_imputed_zero.duplicated().sum())
print()
print(test_data_imputed_zero.duplicated().sum())

# Check if there is any missing value in the DataFrame
print()
print(train_data_imputed_zero.isna().any())
print()
print(test_data_imputed_zero.isna().any())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30111 entries, 0 to 30110
Columns: 367 entries, id to column_370
dtypes: float64(360), int64(7)
memory usage: 84.3 MB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3346 entries, 0 to 3345
Columns: 366 entries, id to column_370
dtypes: float64(360), int64(6)
memory usage: 9.3 MB
None

id            0
column_5      0
column_6      0
column_7      0
column_8      0
             ..
column_366    0
column_367    0
column_368    0
column_369    0
column_370    0
Length: 367, dtype: int64

id            0
column_6      0
column_7      0
column_8      0
column_9      0
             ..
column_366    0
column_367    0
column_368    0
column_369    0
column_370    0
Length: 366, dtype: int64

0

0

id            False
column_5      False
column_6      False
column_7      False
column_8      False
              ...
column_366    False
column_367    False
column_368    False
column_369    False
column_370    False
Length: 367, dtype: bool

id            False
column_6      False
column_7      False
column_8      False
column_9      False
              ...
column_366    False
column_367    False
column_368    False
column_369    False
column_370    False
Length: 366, dtype: bool

In [190]:
# Function to cap outliers in a DataFrame
def cap_outliers_in_dataframe(train_data_imputed_mean, lower_percentile, upper_percentile):
    """
    Caps the outliers in all numerical columns of a DataFrame at specified percentiles.
    
    Parameters:
    df (DataFrame): The DataFrame to process.
    lower_percentile (float): The lower percentile to use as the cap for lower outliers.
    upper_percentile (float): The upper percentile to use as the cap for upper outliers.

    Returns:
    DataFrame: The DataFrame with outliers capped.
    """

    # We create a new DataFrame to avoid modifying the original one
    train_data_imputed_mean_capped = train_data_imputed_mean.iloc[:, 2:].copy()

    # Iterate over all columns in the DataFrame
    for column in train_data_imputed_mean_capped.columns:
        # Check if the column is numerical
        if pd.api.types.is_numeric_dtype(train_data_imputed_mean_capped[column]):
            # Calculate the percentiles for this column
            lower_bound = train_data_imputed_mean_capped[column].quantile(lower_percentile)
            upper_bound = train_data_imputed_mean_capped[column].quantile(upper_percentile)

            # Cap the values using the clip method
            train_data_imputed_mean_capped[column] = train_data_imputed_mean_capped[column].clip(lower=lower_bound, upper=upper_bound)

    return train_data_imputed_mean_capped

# Assume 'df' is your DataFrame, and you want to use the 5th and 95th percentiles
lower_percentile = 0.05
upper_percentile = 0.95

# Cap outliers in the entire DataFrame
train_data_imputed_mean_capped = cap_outliers_in_dataframe(train_data_imputed_mean, lower_percentile, upper_percentile)

train_data_imputed_mean_capped

C:\Users\Timur\anaconda3\Lib\site-packages\numpy\lib\function_base.py:4573: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
C:\Users\Timur\anaconda3\Lib\site-packages\numpy\lib\function_base.py:4573: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
C:\Users\Timur\AppData\Local\Temp\ipykernel_13208\1499187947.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data_imputed_mean_capped[column] = train_data_imputed_mean_capped[column].clip(lower=lower_bound, upper=upper_bound)
C:\Users\Timur\anaconda3\Lib\site-packages\numpy\lib\function_base.py:4573: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
C:\Users\Timur\anaconda3\Lib\site-packages\numpy\lib\function_base.py:4573: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
C:\Users\Timur\AppData\Local\Temp\ipykernel_13208\1499187947.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data_imputed_mean_capped[column] = train_data_imputed_mean_capped[column].clip(lower=lower_bound, upper=upper_bound)
C:\Users\Timur\anaconda3\Lib\site-packages\numpy\lib\function_base.py:4573: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
C:\Users\Timur\anaconda3\Lib\site-packages\numpy\lib\function_base.py:4573: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)

,column_6,column_7,column_8,column_9,column_10,column_11,column_12,column_13,column_14,column_15,...,column_361,column_362,column_363,column_364,column_365,column_366,column_367,column_368,column_369,column_370
0,879.79865,3519.31755,3.6600,7.3174,171.8300,0.6667,0.8580,16.4128,88.0800,239.4438,...,0.0068,6801.9483,38.285,20.0,0.0,27,1,0,0,0
1,520.62640,1717.04050,0.0000,8.0772,79.7667,2.6667,0.0000,6.1967,21.9933,882.0933,...,0.0000,5566.8946,0.000,34.0,1.0,31,1,0,0,0
2,0.00000,1425.79980,0.0000,7.1665,152.6967,0.0000,0.0000,0.0000,46.9900,0.0000,...,0.0000,3821.4173,0.000,30.0,0.0,56,1,0,0,0
3,0.00000,291.09670,0.0000,4.1596,47.9833,5.3333,0.0000,0.0000,0.0000,0.0000,...,0.0000,1254.8651,0.000,14.0,0.0,31,0,0,0,0
4,0.00000,2530.34040,3.9933,3.7377,87.7833,0.0000,1.0248,10.3333,40.7700,0.0000,...,-0.0032,3581.9975,-12.345,2.0,0.0,55,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30106,204.72380,1687.82900,4.6633,7.3720,18.3167,0.0000,0.3333,15.5933,0.0000,326.6944,...,0.0000,3021.4372,0.000,18.0,1.0,40,0,1,0,0
30107,148.35670,964.66410,1.4744,9.0002,143.1267,0.0000,0.0000,14.1100,15.6633,534.4986,...,-0.0192,2144.4923,-31.495,22.0,1.0,20,0,1,0,0
30108,287.56080,1308.99040,3.9100,4.9198,29.2400,1.6667,0.6667,8.4933,0.0000,87.7338,...,0.0076,2794.5666,21.765,26.0,0.0,20,0,0,0,1
30109,0.00000,178.25330,0.0000,3.8335,8.4300,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,2187.7192,0.000,25.0,1.0,27,0,0,0,0
30110,0.00000,747.74010,0.0000,3.2258,0.0000,1.0000,0.6667,0.0000,33.9900,31.2827,...,0.0208,1292.0356,54.655,15.0,0.0,57,1,0,0,0